/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;
}

html{

    scroll-behavior: smooth;
}

body
{
	background-color:#f2efeb ;
}

/*#f2efeb*/
#navbarTop
{
	background: linear-gradient(90deg, black 50%,  #ad0006 70%);
}

.home{
    width: 100%;
    height: 91.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}
.changecontent::after{
    content: ' ';
    color: #ad0006;
    font-weight: bold;
    font-size: 45px;
    animation: changetext 20s infinite linear;
}
@keyframes changetext{
    0%{content: "Full Stack Developer";}
    16%{content: "Front End Developer";}
    36%{content: "Back End Developer";}
    46%{content: "Software Artisan";}
    61%{content: "Software Developer";}
    77%{content: "Geek";}
    100%{content: "Techie";}

}

.content {
  margin-left: 35%; 
}	

.content h3 span{
    color: #ad0006;
    font-weight: bold;
    font-size: 45px;

}

#inteR{
    color: #ad0006;
    font-weight: bold;
    font-size: 45px;
}

.black {
  color: black;
}
a:hover{
    background-color: #e0d4c1;
}

h3 u {
  text-decoration-color: #ad0006;
}

#projects{

    background-color:#f2efeb ;
}

#tools{
    width: 100%;
    height: 100vh;
    background-color: #f2efeb;
}
#tools h3{
    width: 130px;
    padding-top: 130px;
    color: black;
    border-bottom: 2px solid #f2efeb;
    text-align: center;
}
#tools .card{
    transition: 0.5s ease;
    cursor: pointer;
}
#tools .card:hover{
    background-color: #e0d4c1;
}
#services p{
    color: white;
}
#tools .card i{
    font-size: 42px;
    margin-left: 10px;
}
#tools .card h2{
    font-size: 22px;
    margin-left: 10px;
}
@media screen and (max-width:767px){
    #tools{
        height: 200vh;
    }
}

form {
  background-color: #ad0006;
}

.card {
margin-right: 20px; 
}