/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;
}

html{

    scroll-behavior: smooth;
}

body
{
	background-color:#f2efeb ;
}

/*#f2efeb*/
#navbarTop
{
	background: linear-gradient(90deg, black 50%,  #ad0006 70%);
}

.home{
    width: 100%;
    height: 91.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}
.changecontent::after{
    content: ' ';
    color: #ad0006;
    font-weight: bold;
    font-size: 45px;
    animation: changetext 20s infinite linear;
}
@keyframes changetext{
    0%{content: "Full Stack Developer";}
    16%{content: "Front End Developer";}
    36%{content: "Back End Developer";}
    46%{content: "Software Artisan";}
    61%{content: "Software Developer";}
    77%{content: "Geek";}
    100%{content: "Techie";}

}

.content {
  margin-left: 35%; 
}	

.content h3 span{
    color: #ad0006;
    font-weight: bold;
    font-size: 45px;

}

#inteR{
    color: #ad0006;
    font-weight: bold;
    font-size: 45px;
}

/*.black {
  color: black;
}*/
a:hover{
    background-color: #e0d4c1;
}

h3 u {
  text-decoration-color: #ad0006;
}

#projects{

    background-color:#f2efeb ;
}

#tools{
    width: 100%;
    height: 100vh;
    background-color: #f2efeb;
}
#tools h3{
    width: 130px;
    padding-top: 130px;
    color: black;
    border-bottom: 2px solid #f2efeb;
    text-align: center;
}
#tools .card{
    transition: 0.5s ease;
    cursor: pointer;
}
#tools .card:hover{
    background-color: #e0d4c1;
}

#tools .card i{
    font-size: 42px;
    margin-left: 10px;
}
#tools .card h2{
    font-size: 22px;
    margin-left: 10px;
}
@media screen and (max-width:767px){
    #tools{
        height: 200vh;
    }
}

form {
  background-color: #ad0006;
}

.card {
margin-right: 20px; 
}



/**/

#contacts{
    width: 100%;
    height: 100vh;
    background-color: black;
}
#contacts h1{
    color: white;
    border-bottom: 2px solid #ad0006;
    width: 210px;
    padding-top: 100px;
}
#contacts p{
    color: white;
}
#contacts input{
    width: 420px;
    margin-top: 30px;
    background: black;
    border: none;
    border-bottom: 2px solid #ad0006;
}
#contacts ::placeholder{
    color: white;
}
#contacts textarea{
   
    border: 2px solid #ad0006;
    margin-top: 20px;
    color: white;
}




#btncontact{
    width: 420px;
    height: 38px;
    letter-spacing: 3px;
    font-weight: bold;
    background: transparent;
    color: #ad0006;
    border: 2px solid #ad0006;
    margin-top: 30px;
}
#contacts i{
    color: #ad0006;
    margin-top: 30px;
    margin-left: 7px;
    font-size: 20px;
}

@media screen and (max-width:995px){
    #contacts input{
        width: 350px;
    }
    #contacts textarea{
        width: 350px;
    }
    #contacts #btncontact{
        width: 350px;
    }
}
@media screen and (max-width:476px){
    #contacts input{
        width: 250px;
    }
    #contacts textarea{
        width: 250px;
    }
    #contacts #btncontact{
        width: 250px;
    }
}
@media screen and (max-width: 320px){
    #contact input{
        width: 180px;
    }
    #contact textarea{
        width: 180px;
    }
    #contact #btncontact{
        width: 180px;
    }
}
@media screen and (max-width: 767px){
    #contacts{
        height: 150vh;
    }
}#contacts input{
    background: transparent;
    border: 2px solid #ad0006;
    margin-top: 20px;
    color: white;

}


/**/

#footer{
    width: 100%;
    background: linear-gradient(90deg, black 50%,  #ad0006 70%);
}
#footer h1{
    color: white;
    text-shadow: 0px 1px 1px black;
    padding-top: 30px;
}

}
.copyright{
    color: white;
    margin-top: 20px;
    text-shadow: 1px 1px 1px black;
}
.cfooter{
    color: white;
    text-shadow: 1px 1px 1px black;
}